{% extends "_layout.html" %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('public/images/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Login</h1>
                    <hr class="small">
                    <span class="subheading">are you the administrator?</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        {%if msg %}
        <p class="bg-danger">{{msg}}</p>
        {% endif %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form name="login" id="loginForm" action="/login" method="post">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email" class="form-control" placeholder="Email Address *" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required data-validation-required-message="Please enter your paggword.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}