<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aliyun-Egg Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom CSS -->
    <link href="/public/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {% block style %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% block nav %}{% include "component/nav.html" %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}{% endblock %}

<hr />

{% block footer %}{% include "component/footer.html" %}{% endblock %}


<!-- jQuery -->
<script src="//dn-staticfile.qbox.me/jquery/1.9.0/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//dn-staticfile.qbox.me/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/public/js/lib/clean-blog.min.js"></script>

{% block script %}{% endblock %}

</body>

</html>
