{% extends "_layout.html" %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('public/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{site[0].name if site.length else 'Aliyun Egg Blog'}}</h1>
                    <hr class="small">
                    <span class="subheading">{{site[0].sub_name if site.length else 'Base on Aliyun Egg'}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for article in articles %}
            <div class="post-preview">
                <a href="/article?id={{article.id}}">
                    <h2 class="post-title">
                        {{article.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{article.sub_title}}
                    </h3>
                </a>
                <p class="post-meta"> on {{article.create_time}}</p>
            </div>
            <hr>
            {% endfor %}
            {% block page %}{% include "component/pager.html" %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
